---
Checks:          '*,
                  -fuchsia-*,
                  -google-*,
                  -zircon-*,
                  -abseil-*,
                  -modernize-use-trailing-return-type,
                  -llvm*,
                  -altera-*
                  -readability-magic-numbers,
                  -misc-non-private-member-variables-in-classes,
                  -cppcoreguidelines-non-private-member-variables-in-classes,
                  '
HeaderFilterRegex: './include/*|./src/*'
CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,       value: lower_case }
  - { key: readability-identifier-naming.ClassCase,           value: CamelCase  }
  - { key: readability-identifier-naming.PrivateMemberPrefix, value: m_         }
  - { key: readability-identifier-naming.PrivateMemberCase,   value: lower_case }
  - { key: readability-identifier-naming.StructCase,          value: CamelCase  }
  - { key: readability-identifier-naming.FunctionCase,        value: lower_case }
  - { key: readability-identifier-naming.ParameterPrefix,     value: t_         }
  - { key: readability-identifier-naming.ParameterCase,       value: lower_case }
  - { key: readability-identifier-naming.VariableCase,        value: lower_case }
  - { key: readability-identifier-naming.GlobalConstantCase,  value: UPPER_CASE }
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'x|y|z'
